:root {
  --body-font:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --bg-primary: #fff;
  --bg-secondary: #f1f5f9;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body-font);
}

.container {
  display: grid;
  grid-template-columns: 55px 1fr;
  height: 100%;
}

.sidebar {
  background-color: var(--bg-primary);
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__logo {
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
}

.sidebar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sidebar__list:first-of-type {
  margin-top: 30px;
}

.sidebar__list:last-of-type {
  margin-top: 50px;
}

.sidebar__item {
}

.sidebar__item img {
  width: 18px;
}

.main {
  background-color: var(--bg-secondary);
}
