:root {
  --body-font:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --bg-primary: #fff;
  --bg-secondary: #f1f5f9;
  --text-primary: #000;
  --text-secondary: #666;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--body-font);
  color: var(--text-primary);
}

.page-container {
  display: grid;
  grid-template-columns: 3.4375rem 1fr;
  height: 100%;
}

.sidebar {
  background-color: var(--bg-primary);
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__logo {
  margin: 0.9375rem 0 0 0;
  font-size: 1rem;
  font-weight: bold;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}

.nav__list:first-of-type {
  margin-top: 1.875rem;
}

.nav__list:last-of-type {
  margin-top: 3.125rem;
}

.nav__list > li > a > img {
  width: 1.125rem;
}

.main {
  background-color: var(--bg-secondary);
}

.header {
  background-color: var(--bg-primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
}

.search-box > input {
  outline: none;
  border: 1px #ccc solid;
  border-radius: 10px;
  height: 2.1875rem;
  padding-left: 2.1875rem;
  background: url("../img/magnify.svg") no-repeat 0.625rem center;
  background-size: 1.125rem;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.profile-container > img:first-child {
  width: 1.5625rem;
}

.profile-container > img:last-child {
  width: 2.5rem;
}

.projects {
  margin: 1.25rem;
}

.project__cards {
  display: grid;
  gap: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}

.project__card {
  padding: 0.3125rem 0.9375rem;
  background-color: var(--bg-primary);
  border-radius: 10px;
  border-left: 6px solid #26a584;
  height: 12.5rem;
  position: relative;
}

.project__desc {
  color: var(--text-secondary);
}

.project__actions {
  position: absolute;
  right: 2.5rem;
  bottom: 0.625rem;
}

.project__actions > img {
  width: 1.25rem;
  gap: 0.125rem;
}

.announcements {
  margin: 1.25rem;
}

.announcement__cards {
  padding: 0.3125rem 0.9375rem;
  background-color: var(--bg-primary);
  border-radius: 10px;
  border-radius: 10px;
}

.announcement__card {
  background-color: var(--bg-primary);
}

.announcement__card > p {
  color: var(--text-secondary);
}

.trending {
  margin: 1.25rem;
}

.trending__card {
  background-color: var(--bg-primary);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1.875rem 0.625rem;
  gap: 2.5rem;
  justify-items: center;
}

.trending__topic {
  display: flex;
}

.trending__topic > img {
  width: 3.75rem;
}

.trending__desc {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  gap: 0.3125rem;
}

.trending__desc > span:first-of-type {
  font-size: 1.125rem;
  color: #4f86c6;
}

.trending__desc > span:last-of-type {
  color: var(--text-secondary);
}
